<!--
  @File Name          : myFirstWebComponent.html
  @Description        : 
  @Author             : ChangeMeIn@UserSettingsUnder.SFDoc
  @Group              : 
  @Last Modified By   : Mourya Anumula
  @Last Modified On   : 1/30/2020, 2:12:02 PM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    1/29/2020   ChangeMeIn@UserSettingsUnder.SFDoc     Initial Version
-->
<template>
    <lightning-card title='Scan SE product to know more' icon-name="custom:custom19">
        <img src="https://media.giphy.com/media/KeQf3wNoXaft4IhWcW/giphy.gif " alt="SE">
        <lightning-file-upload
                label=""
                name="fileUploader"
                accept={acceptedFormats}
                record-id= '0012v00002f4YdhAAE'
                onuploadfinished={handleClick}
                multiple>
            </lightning-file-upload>
    
    
    </lightning-card>
    
    <template if:true={contacts}>
        <template for:each={contacts} for:item="contact">
            <p key={contact.Id}>{contact}</p>
        </template>
    </template> 
    <template if:true={error}>
        <p >error</p>
    </template>  
   
  
    
</template>